

<div class="container border">
  <div class="row splachContainer">
  <div class = "d-flex flex-column justify-content-around">
    <h3  class ="p-2 text-center">Mustafa budget App</h3>
    <div class ="d-flex flex-column align-items-stretch align-items-lg-center">
    <%= link_to 'LOG IN', user_session_path,class:'my-3 btn btn-primary' %>
    <%= link_to 'SIGN UP', new_user_registration_path,class:'btn btn-outline-primary' %>
     </div>
    </div>
  </div>
</div>


